@import '../fonts/font-awesome/css/font-awesome.min.css';

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.otf');
    font-weight: normal;
    font-style: normal;
}
