.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/*------------------------header------------------------*/
.headMenu {
    .logo {
        img {
            width: 120px;
        }
    }
}
.accauntInfo {
    p {
        span {
            &:first-child {
                font-size: 11pt;
            }
            &:last-child {
                font-size: 12pt;
            }
        }
    }
}
.accauntMenu {
    font-size: 11pt;
    .lister {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid white;
    }
}


/*------------------------main------------------------*/
main .stayUpdatet {
    background-color: $stayUpdateBackgroundColor;
    height: 56px;
    align-items: center;
    .wrapper.contacts {
        .contacts.container {
            height: 29px;
            .email.container p{
                width: 80px;
                margin-right: 5px;
            }
        }
    }
}


/*------------------------footer------------------------*/
nav .lowMenu {
    display: none;
}
.copyright {
    p {
        font-size: 11pt;
    }
}
