$darkWhite: #f7f7f7;
$fontGray: #8d8d8d;
$contentGray: #ededed;
$articleGray: #544f4d;
$pictureGray: #a59d9a;
$payGray: #414141;
$userGray: #666666;
$basketItemColor: #fafafa;
$sliderScrollColor: rgba(255, 255, 255, .5);
$sliderScrollActiveColor: #ffa687;
$slideControlPassive: #877e79;
$sliderButtonSignColor: #c6c6c6;
$stayUpdateBackgroundColor: #ededed;
$stayUpdateFontColor: gray;
$emailBackgroundColor: white;
$emailSubmitColor: white;
$emailSubmitBackgroundColor: #fd926d;
$emailSubmitBottomColor: #dd6b44;
$socialsColor: gray;
$cocialsNextColor: #f7f7f7;
$inputActiveColor: #ffa687;
$socialGray: #4c4c4b;
$accauntColor: black;


$tabBackgroundColor: #fe926c; //ff936d;
$tabFontColor: white;
$tabPassiveBackgroundColor: #f5f1ee;
$tabColor: #979797;
$tabControlSmallColor: #f4845e;
$markBackgroundColor: #3d3d3d;
$figCaptionBackgroundColor: #f7f7f7;

$activeTabFontColor: blue;
$saleColor: #4c4c4c;
$saleFontColor: white;

$footColor: black;
$footActiveColor: white;
$activeColor: mediumblue;
$aboutContentColor: #999999;
$lineColor: #d8d8d8;
$aboutHeadColor: #414141;
$brandHeadColor: #414141;
$payBackgroundColor: #f7f7f7;
$footContectColor: #ededed;
$footArticleColor: #544f4d;
$fontColor: #8d8d8d;
$payColor: #414141;
$socialColor: #4c4c4b;
$pictureTextColor: #a59d9a;
$userColor: #666666;
