$darkWhite: #f7f7f7;
$fontGray: #8d8d8d;
$contentGray: #ededed;
$articleGray: #544f4d;
$pictureGray: #a59d9a;
$payGray: #414141;
$userGray: #666666;
$basketItemColor: #fafafa;
$sliderScrollColor: rgba(255, 255, 255, .5);
$sliderScrollActiveColor: #ffa687;
$slideControlPassive: #877e79;
$stayUpdateBackgroundColor: $contentGray;
$stayUpdateFontColor: gray;
$emailBackgroundColor: white;
$emailSubmitColor: white;
$emailSubmitBackgroundColor: #fd926d;
$emailSubmitBottomColor: #dd6b44;
$socialsColor: gray;
$cocialsNextColor: #f7f7f7;
$inputActiveColor: #ffa687;
$socialGray: #4c4c4b;
$accauntColor: black;


$tabBackgroundColor: #ff936f;


$footColor: black;
$footActiveColor: white;
$activeColor: mediumblue;
$aboutContentColor: #999999;
$lineColor: #d8d8d8;
$aboutHeadColor: $payGray;
$brandHeadColor: $payGray;
$payBackgroundColor: $darkWhite;
$footContectColor: $contentGray;
$footArticleColor: $articleGray;
$fontColor: $fontGray;
$payColor: $payGray;
$socialColor: $socialGray;
$pictureTextColor: $pictureGray;
$userColor: $userGray;
