@import url(../fonts/font-awesome/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'HelveticaNeueLTStd-Cn';
  src: url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'webfont';
  src: url("../fonts/fontawesome-webfont.woff2");
  font-weight: normal;
  font-style: normal; }
/*active elements*/
input,
.active:hover,
.active:active,
a {
  cursor: pointer; }

/*scaled elements*/
.scaled:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32); }

html {
  font-size: 10px; }

.wrapper {
  padding: 0px 10px;
  box-sizing: border-box; }

/*------------------------flexContainers------------------------*/
body,
.container {
  display: flex;
  justify-content: space-between; }

.item {
  flex-grow: 1; }

/*------------------------header------------------------*/
header .accaunt {
  background-color: black;
  color: white; }
  header .accaunt .accauntInfo {
    padding: 10px 0; }
    header .accaunt .accauntInfo p span {
      font-family: Arial, Helvetica, sans-serif; }
  header .accaunt .accauntMenu {
    padding: 10px; }
    header .accaunt .accauntMenu i {
      margin-left: 3px; }
    header .accaunt .accauntMenu .user {
      margin: 0 5px; }
      header .accaunt .accauntMenu .user i {
        color: #666666; }
    header .accaunt .accauntMenu .search {
      color: white; }
    header .accaunt .accauntMenu .region:hover,
    header .accaunt .accauntMenu .user:hover,
    header .accaunt .accauntMenu .search:hover {
      color: mediumblue;
      cursor: pointer; }
header .headMenu {
  margin-top: 30px;
  margin-bottom: 20px; }
  header .headMenu .wrapper.container {
    align-items: center; }
  header .headMenu nav.container {
    flex-wrap: wrap;
    padding-left: 10px; }
    header .headMenu nav.container .link {
      margin-right: 20px;
      font-size: 16pt;
      font-family: Arial, Helvetica, sans-serif;
      color: black; }
      header .headMenu nav.container .link i {
        margin-left: 3px;
        padding-top: 3px; }
      header .headMenu nav.container .link:hover {
        background-color: #ffa687;
        cursor: pointer; }
    header .headMenu nav.container .lowMenu {
      width: 100%;
      padding: 5px 15px;
      background-color: #ffa687; }
      header .headMenu nav.container .lowMenu:hover {
        background-color: #dd6b44;
        cursor: pointer; }
  header .headMenu .basket {
    border: 1px solid #ddd;
    flex-shrink: 0;
    margin-bottom: 15px;
    width: 214px; }
    header .headMenu .basket .container {
      align-items: center;
      color: #949393;
      font-size: 12pt;
      font-family: Arial, Helvetica, sans-serif;
      height: 30px;
      padding: 0 15px; }
    header .headMenu .basket .cart {
      border-bottom: 1px solid #ddd; }
      header .headMenu .basket .cart .lister {
        width: 0;
        height: 0;
        margin: auto 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #949393; }
      header .headMenu .basket .cart:hover {
        color: mediumblue;
        cursor: pointer; }
        header .headMenu .basket .cart:hover .lister {
          border-top-color: mediumblue; }
    header .headMenu .basket .items {
      background-color: #fafafa; }
      header .headMenu .basket .items:hover {
        color: mediumblue;
        cursor: pointer; }
header .slider {
  text-align: center; }
  header .slider .slide {
    position: relative; }
    header .slider .slide img {
      width: 100%; }
    header .slider .slide .slideBack, header .slider .slide .slideForward {
      width: 30px;
      height: 77px;
      font-size: 30px;
      font-family: "webfont", sans-serif;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: calc(50% - 58px);
      padding-top: 40px; }
      header .slider .slide .slideBack i, header .slider .slide .slideForward i {
        color: #c6c6c6; }
      header .slider .slide .slideBack:hover, header .slider .slide .slideForward:hover {
        background-color: #ffa687; }
        header .slider .slide .slideBack:hover i, header .slider .slide .slideForward:hover i {
          color: white; }
    header .slider .slide .slideBack {
      left: 0px; }
    header .slider .slide .slideForward {
      right: 0px; }
  header .slider .slideControl {
    margin: 30px auto;
    justify-content: center; }
    header .slider .slideControl .point {
      width: 10px;
      height: 10px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: #877e79; }
      header .slider .slideControl .point:hover {
        cursor: pointer;
        background-color: mediumblue; }
    header .slider .slideControl .point.active {
      background-color: #dd6b44; }

/*------------------------main------------------------*/
main .stayUpdatet {
  margin-bottom: 40px;
  display: flex; }
  main .stayUpdatet .wrapper.contacts {
    width: 100%; }
    main .stayUpdatet .wrapper.contacts .contacts.container {
      align-items: center;
      font-family: "Arial", serif; }
      main .stayUpdatet .wrapper.contacts .contacts.container p {
        align-self: center;
        color: gray;
        font-size: 13px;
        margin-right: 7px; }
      main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail {
        font-size: 0; }
        main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailInput {
          background: white;
          width: 130px;
          height: 29px;
          font-size: 12px;
          padding: 0px 7px;
          border: none; }
          main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailInput:hover {
            background-color: #ffa687; }
        main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailSubmit {
          font-size: 20px;
          width: 29px;
          height: 29px;
          border: 0px;
          color: white;
          background: #fd926d;
          border-bottom: 4px solid #dd6b44; }
          main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailSubmit:hover {
            background-color: mediumblue; }
      main .stayUpdatet .wrapper.contacts .contacts.container .socials a {
        height: 56px; }
        main .stayUpdatet .wrapper.contacts .contacts.container .socials a i {
          margin-top: 30%;
          font-size: 20px;
          color: gray;
          width: 52px;
          text-align: center; }
        main .stayUpdatet .wrapper.contacts .contacts.container .socials a:nth-child(even) {
          background-color: #f7f7f7; }
        main .stayUpdatet .wrapper.contacts .contacts.container .socials a:hover {
          background-color: #ffa687; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a:hover i {
            color: mediumblue; }
main .arts {
  margin-bottom: 50px;
  display: grid;
  grid-template: 25% 25% 25% 25% / 25% 25% 25% 25%; }
  main .arts .item img {
    width: 100%; }
  main .arts .item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  main .arts .item:nth-child(2) {
    grid-column: 3 / 5; }
main .tabs {
  margin-bottom: 25px;
  padding-bottom: 30px; }
  main .tabs .tabControls {
    align-content: space-between; }
    main .tabs .tabControls .tabNames .container {
      align-items: center;
      justify-content: center; }
    main .tabs .tabControls .tabNames .tab {
      height: 47px;
      font-size: 15px;
      color: #979797;
      padding: 0 10px;
      text-transform: uppercase; }
      main .tabs .tabControls .tabNames .tab.current {
        background-color: #fe926c;
        color: white; }
      main .tabs .tabControls .tabNames .tab:hover {
        cursor: pointer;
        background-color: #ffa687;
        color: blue; }
    main .tabs .tabControls .tabNav .container {
      align-items: center;
      justify-content: center; }
    main .tabs .tabControls .tabNav i {
      font-size: 40px;
      color: #979797; }
    main .tabs .tabControls .tabNav .tabBack, main .tabs .tabControls .tabNav .tabForward {
      width: 47px; }
      main .tabs .tabControls .tabNav .tabBack.able, main .tabs .tabControls .tabNav .tabForward.able {
        background-color: #fe926c; }
      main .tabs .tabControls .tabNav .tabBack:not(.able), main .tabs .tabControls .tabNav .tabForward:not(.able) {
        background-color: #f5f1ee; }
      main .tabs .tabControls .tabNav .tabBack:hover, main .tabs .tabControls .tabNav .tabForward:hover {
        cursor: pointer;
        background-color: #ffa687; }
        main .tabs .tabControls .tabNav .tabBack:hover i, main .tabs .tabControls .tabNav .tabForward:hover i {
          color: blue; }
  main .tabs .tabContent {
    background-color: #fe926c;
    padding: 30px 0px;
    width: 100%;
    overflow: hidden; }
    main .tabs .tabContent.container {
      justify-content: center; }
main .loadMore {
  display: none; }
main .product {
  width: 220px;
  position: relative;
  /*height: fit-content;*/
  flex-basis: 220px;
  flex-shrink: 0;
  margin: 10px 10px; }
  main .product .preView {
    position: relative;
    height: 290px;
    overflow: hidden; }
    main .product .preView img {
      width: 100%;
      height: 100%; }
  main .product figcaption {
    background-color: #f7f7f7;
    text-align: center;
    overflow: hidden;
    padding: 10px; }
    main .product figcaption p {
      font-size: 12px;
      margin-bottom: 10px;
      text-transform: uppercase;
      line-height: 1; }
      main .product figcaption p.productPrice {
        font-size: 22px; }
        main .product figcaption p.productPrice::before {
          content: '$'; }
      main .product figcaption p.productName {
        overflow: hidden;
        max-height: 12px; }
    main .product figcaption .add {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 30px;
      margin: 0 auto;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      background: #fd926d;
      border-bottom: 4px solid #dd6b44; }
      main .product figcaption .add:hover {
        background-color: mediumblue; }
      main .product figcaption .add p {
        margin: 0; }
        main .product figcaption .add p::after {
          font-family: "webfont", sans-serif;
          content: "\f067";
          padding-left: 5px;
          font-weight: bold;
          font-size: 13px; }
  main .product.sale::before {
    position: absolute;
    z-index: 1;
    content: "";
    border: 25px solid #4c4c4c;
    border-right-color: white;
    border-bottom-color: white; }
  main .product.sale::after {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    z-index: 1;
    font-family: "webfont", sans-serif;
    content: "SALE";
    color: white;
    padding-top: 4px;
    padding-left: 3px;
    font-size: 10px; }
  main .product .mark {
    transform: scale(0.9);
    visibility: hidden;
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #3d3d3d;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    font-family: "webfont", sans-serif;
    color: white; }
    main .product .mark::before {
      font-size: 30px;
      content: "\f290";
      margin-bottom: 10px; }
    main .product .mark::after {
      font-size: 12px;
      content: "SHOP IT"; }
    main .product .mark:hover {
      color: blue; }
  main .product:hover .mark {
    visibility: visible; }
main .banner {
  display: flex;
  align-items: center; }
  main .banner img {
    margin: 0 15px; }
  main .banner::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8; }
  main .banner::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8; }
main .sales {
  margin-bottom: 35px;
  overflow: hidden; }
  main .sales .banner {
    max-width: 1200px;
    margin: 0 auto; }
  main .sales .additionalContent {
    padding-top: 20px;
    padding-bottom: 25px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap; }
main .banner h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  white-space: nowrap;
  margin: 0 20px;
  color: #414141; }
main .brends {
  align-items: center;
  margin: 20px auto; }
  main .brends img {
    flex: 0; }
main .partners::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d8d8d8; }
main .content {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px; }
  main .content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #414141;
    margin-bottom: 20px; }
  main .content article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999; }

/*------------------------footer------------------------*/
.pay .wrapper.container {
  justify-content: center;
  align-items: center; }

footer {
  background-color: black; }
  footer .pay {
    background-color: #f7f7f7;
    color: #414141;
    padding: 16px 0px; }
    footer .pay p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12pt;
      margin-right: 5px; }
    footer .pay i.sprite {
      background-image: url(../img/pay2.png);
      background-repeat: no-repeat;
      display: block; }
    footer .pay i.one {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -5px -5px; }
    footer .pay i.two {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -49px -5px; }
    footer .pay i.three {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -93px -5px; }
    footer .pay i.four {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -137px -5px; }
    footer .pay i.five {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -181px -5px; }
    footer .pay i.six {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -225px -5px; }
    footer .pay i.seven {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -269px -5px; }
    footer .pay i.eight {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -313px -5px; }
    footer .pay i.nine {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -357px -5px; }
    footer .pay i.ten {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -401px -5px; }
    footer .pay i.eleven {
      width: 34px;
      height: 22px;
      margin: 0px 5px;
      background-position: -445px -5px; }
  footer .footContent {
    background-color: #ededed; }
    footer .footContent .content {
      align-items: center; }
      footer .footContent .content .item {
        margin: 35px 0;
        font-family: Arial, Helvetica, sans-serif; }
        footer .footContent .content .item header h3 {
          font-size: 16pt;
          font-weight: bold;
          color: #544f4d; }
        footer .footContent .content .item section {
          font-size: 12pt; }
          footer .footContent .content .item section a {
            color: #544f4d; }
            footer .footContent .content .item section a:hover {
              color: white; }
        footer .footContent .content .item .socials.container {
          flex-wrap: wrap;
          width: 140px; }
          footer .footContent .content .item .socials.container .social {
            width: 35px;
            height: 35px;
            margin: 5px;
            text-align: center;
            border-radius: 50%;
            background-color: #4c4c4b;
            position: relative; }
            footer .footContent .content .item .socials.container .social a {
              display: block;
              height: 100%;
              width: 100%;
              position: absolute; }
              footer .footContent .content .item .socials.container .social a i {
                color: white;
                position: relative;
                top: 7px;
                font-size: 20px; }
              footer .footContent .content .item .socials.container .social a:hover i {
                color: mediumblue; }
    footer .footContent section.container {
      flex-grow: 5; }
  footer .footMenu {
    padding: 16px 0px; }
    footer .footMenu nav {
      justify-content: space-around;
      flex-wrap: wrap; }
      footer .footMenu nav .lowMenu {
        position: relative; }
        footer .footMenu nav .lowMenu a {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
          footer .footMenu nav .lowMenu a i {
            color: white;
            font-size: 30px;
            line-height: 2; }
          footer .footMenu nav .lowMenu a:hover i {
            color: mediumblue; }
      footer .footMenu nav .link {
        color: #8d8d8d;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        line-height: 2; }
        footer .footMenu nav .link a {
          color: #8d8d8d; }
          footer .footMenu nav .link a:hover {
            color: white; }
      footer .footMenu nav .link:not(:last-child)::after {
        content: '|';
        margin: 0px 5px; }
    footer .footMenu .copyright {
      flex-shrink: 0; }
      footer .footMenu .copyright p {
        color: #8d8d8d;
        font-family: Arial, Helvetica, sans-serif; }

/*footer down*/
body {
  flex-direction: column;
  min-height: 100vh; }

/*------------------------responsive------------------------*/
@media (max-width: 640px) {
  /*------------------------noDisplay------------------------*/
  .noSmall,
  .noMediun {
    display: none; }

  /*------------------------flex-direction------------------------*/
  .accaunt .wrapper,
  .headMenu .wrapper {
    flex-direction: column; }

  /*------------------------header------------------------*/
  header .accaunt .wrapper {
    padding: 0; }
    header .accaunt .wrapper .accauntInfo {
      font-size: 30pt;
      padding: 0 10px;
      background-color: #fafafa; }
      header .accaunt .wrapper .accauntInfo p {
        color: #8d8d8d;
        text-align: center; }
    header .accaunt .wrapper .accauntMenu {
      font-size: 30pt; }
      header .accaunt .wrapper .accauntMenu i {
        padding-top: 3px; }
  header .headMenu .logo img {
    width: 100%; }
  header .headMenu nav.container {
    order: 1;
    width: 100%;
    height: 96px; }
    header .headMenu nav.container .fullMenu {
      display: none; }
    header .headMenu nav.container .lowMenu {
      margin: 0;
      color: white;
      font-size: 34px;
      align-items: center; }

  /*------------------------main------------------------*/
  main .stayUpdatet {
    background-color: white; }
    main .stayUpdatet .wrapper.contacts .contacts.container {
      flex-direction: column;
      font-size: 16px; }
      main .stayUpdatet .wrapper.contacts .contacts.container .email {
        margin-bottom: 25px;
        width: 100%; }
        main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail {
          width: 100%; }
          main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailInput {
            width: calc(100% - 96px);
            background: #ededed;
            height: 96px;
            font-size: 34px; }
          main .stayUpdatet .wrapper.contacts .contacts.container .email .yourEmail .emailSubmit {
            width: 96px;
            height: 96px;
            font-size: 40px;
            font-weight: bold; }
      main .stayUpdatet .wrapper.contacts .contacts.container .socials {
        width: 100%;
        justify-content: center; }
        main .stayUpdatet .wrapper.contacts .contacts.container .socials p {
          font-size: 34px;
          margin-right: 30px; }
        main .stayUpdatet .wrapper.contacts .contacts.container .socials a {
          height: 90px;
          width: 90px;
          text-align: center; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a i {
            margin-top: 30%;
            font-size: 30px; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a:first-child {
            background-color: white; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a:nth-child(even) {
            background-color: #f7f7f7; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a:nth-child(odd) {
            background-color: #ededed; }
          main .stayUpdatet .wrapper.contacts .contacts.container .socials a:hover {
            background-color: #ffa687; }
            main .stayUpdatet .wrapper.contacts .contacts.container .socials a:hover i {
              color: mediumblue; }
  main .tabs {
    background-color: #fe926c; }
    main .tabs .wrapper {
      padding: 0; }
    main .tabs .tabControls {
      padding: 0 10px;
      background-color: #f4845e; }
      main .tabs .tabControls .tabNames .tab.current {
        background-color: #f4845e; }
      main .tabs .tabControls .tabNames .tab:not(.current) {
        display: none; }
    main .tabs .tabNav .tabLowNav p i {
      color: white; }
    main .tabs .tabNav .tabLowNav:hover {
      cursor: pointer; }
      main .tabs .tabNav .tabLowNav:hover i {
        color: blue; }
  main .product {
    width: 270px; }
  main .loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    margin: 0px auto;
    color: white;
    background-color: black; }
    main .loadMore::before {
      font-size: 15px;
      font-family: "webfont", sans-serif;
      content: "LOAD MORE"; }
    main .loadMore:hover {
      cursor: pointer;
      color: mediumblue;
      background-color: #666666; }

  /*------------------------footer------------------------*/
  .copyright p {
    font-size: 17pt; }

  footer nav .fullMenu {
    display: none; } }
@media (min-width: 641px) and (max-width: 768px) {
  /*------------------------noDisplay------------------------*/
  .noMedium {
    display: none; }

  /*------------------------header------------------------*/
  header .headMenu .wrapper {
    flex-wrap: wrap; }
    header .headMenu .wrapper .logo img {
      width: 120px; }
    header .headMenu .wrapper nav.container {
      order: 1;
      width: 100%;
      height: 96px; }
      header .headMenu .wrapper nav.container .fullMenu {
        display: none; }
      header .headMenu .wrapper nav.container .lowMenu {
        margin: 0;
        color: white;
        font-size: 34px;
        align-items: center; }

  .accauntInfo p span:first-child {
    font-size: 11pt; }
  .accauntInfo p span:last-child {
    font-size: 12pt; }

  .accauntMenu {
    font-size: 11pt; }
    .accauntMenu .lister {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid white; }

  /*------------------------main------------------------*/
  main .stayUpdatet {
    background-color: #ededed;
    height: 56px;
    align-items: center; }
  main .arts {
    margin-bottom: 35px; }

  /*------------------------footer------------------------*/
  .footContent .content .container {
    flex-wrap: wrap; }
    .footContent .content .container .item {
      min-width: 30%; }

  footer nav .lowMenu {
    display: none; }

  .copyright p {
    font-size: 11pt; } }
@media (min-width: 769px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto; }

  /*------------------------header------------------------*/
  .headMenu .logo img {
    width: 120px; }

  .accauntInfo p span:first-child {
    font-size: 11pt; }
  .accauntInfo p span:last-child {
    font-size: 12pt; }

  .accauntMenu {
    font-size: 11pt; }
    .accauntMenu .lister {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid white; }

  /*------------------------main------------------------*/
  main .stayUpdatet {
    background-color: #ededed;
    height: 56px;
    align-items: center; }
    main .stayUpdatet .wrapper.contacts .contacts.container {
      height: 29px; }
      main .stayUpdatet .wrapper.contacts .contacts.container .email.container p {
        width: 80px;
        margin-right: 5px; }

  /*------------------------footer------------------------*/
  nav .lowMenu {
    display: none; }

  .copyright p {
    font-size: 11pt; } }

/*# sourceMappingURL=styles.css.map */
