@import 'reset';
@import 'fonts';
@import 'variables';





/*active elements*/
input,
.active:hover,
.active:active,
a {
    cursor: pointer;
}

/*scaled elements*/
.scaled:hover {
    transform: scale(1.2);
}


html {
font-size: 10px;
}
.wrapper {
    padding: 0px 10px;
    box-sizing: border-box;
}

/*------------------------flexContainers------------------------*/
body,
.container {
    display: flex;
    justify-content: space-between;
}
.item {
    flex-grow:1;
}

/*------------------------header------------------------*/
header {
    .accaunt {
        background-color: $accauntColor;
        color: white;
        .accauntInfo {
            padding: 10px 0;
            p {
                span {
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
        .accauntMenu {
            padding: 10px;
            .lister {
                width: 0;
                height: 0;
                margin: auto 5px;
            }
            .user {
                margin: 0 5px;
                i {
                    color: $userColor;
                }
            }
            .search {
                color: white;
            }
            .region:hover,
            .user:hover,
            .search:hover {
                color: $activeColor;
                cursor: pointer;
            }
            .region:hover .lister {
                border-top-color: $activeColor;
                cursor: pointer;
            }
        }
    }
    .headMenu {
        margin-top: 30px;
        margin-bottom: 20px;
        .wrapper.container {
            align-items: center;
        }
        nav.container {
            .link {
                margin-right:  20px;
                font-size: 16pt;
                font-family: Arial, Helvetica, sans-serif;
                color: black;
                .lister{
                    width: 0;
                    height: 0;
                    margin: auto 5px;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-top: 6px solid black;
                }

                &:hover {
                    background-color: #ffa687;
                    cursor: pointer;
                }
            }
            .lowMenu {
                width: 100%;
                padding: 5px 15px;
                background-color: #ffa687;
                &:hover {
                    background-color: #dd6b44;
                    cursor: pointer;
                }
            }
        }
        .basket {
            border: 1px solid #ddd;
            flex-shrink: 0;
            margin-bottom: 15px;
            width: 214px;
            & .container {
                align-items: center;
                color: #949393;
                font-size: 12pt;
                font-family: Arial, Helvetica, sans-serif;
                height: 30px;
                padding: 0 15px;
            }
            .cart {
                border-bottom: 1px solid #ddd;
                .lister {
                    width: 0;
                    height: 0;
                    margin: auto 5px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 10px solid #949393;
                }
                &:hover {
                    color: $activeColor;
                    cursor: pointer;
                    .lister {
                        border-top-color: $activeColor;
                    }
                }
            }
            .items {
                background-color: $basketItemColor;
                &:hover {
                    color: $activeColor;
                    cursor: pointer;
                }
            }
        }
    }

    .slider {
        text-align: center;
        .slide {
            position: relative;
            img {
                width: 100%;
            }
            .slideBack, .slideForward {
                width: 30px;
                height: 77px;
                font-size: 30px;
                font-family: "webfont", sans-serif;
                background-color: $sliderScrollColor;

                position: absolute;
                top: calc(50% - 58px);
                padding-top: 40px;

                &:hover {
                    background-color: $sliderScrollActiveColor;
                    & a {
                        color: white;
                    }
                }

            }
            .slideBack {
                left: 0px;
            }
            .slideForward {
                right: 0px;
            }
        }
        .slideControl {
            margin: 30px auto;
            justify-content: center;
            .point {
                width: 10px;
                height: 10px;
                margin: 0 10px;
                border-radius: 50%;
                background-color: $slideControlPassive;
                &:hover {
                    cursor: pointer;
                    background-color: $activeColor;
                }
            }
            .point.active {
                background-color: #dd6b44;
            }
        }
    }
}


/*------------------------main------------------------*/

main {

    .stayUpdatet {//background
        margin-bottom: 40px;
        display: flex;
        .wrapper.contacts {//content-ceter
            width: 100%;
            .contacts.container {
                align-items: center;
                font-family: "Arial", serif;
                p {
                    align-self: center;
                    color: $stayUpdateFontColor;
                    font-size: 13px;
                    margin-right: 7px;
                }
                .email {
                    .yourEmail {
                        font-size: 0;
                        .emailInput {
                            background: $emailBackgroundColor;
                            width: 130px;
                            height: 29px;
                            font-size: 12px;
                            padding: 0px 7px;
                            border: none;
                            &:hover {
                                background-color: $inputActiveColor;
                            }
                        }     
                                       
                        .emailSubmit {
                            font-size: 20px;
                            width: 29px;
                            height: 29px;
                            border: 0px;
    
                            color: $emailSubmitColor;
                            background: $emailSubmitBackgroundColor;
                            border-bottom: 4px solid $emailSubmitBottomColor;
    
                            &:hover {
                                background-color: $activeColor;
                            }
                        }
                    }
                }
                .socials {
                    a {
                        height: 56px;
                        i {
                            margin-top: 30%;
                            font-size: 20px;
                            color: $socialsColor;
                            width: 52px;
                            text-align: center;
                            &:hover {
                                color: $activeColor;
                            }
                        }
                        &:nth-child(even) {
                            background-color: $cocialsNextColor;
                        }
                    }
                }
            }
        }
    }


    .arts {
        margin-bottom: 50px;
        display: grid;
        grid-template: 25% 25% 25% 25% / 25% 25% 25% 25%;
        .item {
            img {
                width: 100%;
            }
            &:first-child {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
            &:nth-child(2) {
                grid-column: 3 / 5;
            }
        }


    }


    .tabs {
        .tabControls {
            align-content: space-between;
            .tabNames {
                .tab {
                    height: 47px;
                    font-size: 15px;
                    &.current {
                        background-color: $tabBackgroundColor;
                    }
                }
            }
            .tabNav {
                .fullMenu {
                    width: 47px;
                    &.able {
                        background-color: $tabBackgroundColor;
                    }
                }
            }
        }
        .tabContent {
            background-color: $tabBackgroundColor;
        }
    }









    header.container {
        align-items: center;
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 12pt;
            color: $brandHeadColor;
            flex-shrink: 0;
        }
    }
    .decor {
        height: 1px;
        width: 42%;
        display: block;
        background-color: $lineColor;
    }
    .brends {
        align-items: center;
        img {
            flex: 0;
        }
        margin: 20px 0px;
    }
    .wrapper.line {
        &::before {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background-color: $lineColor;
        }
    }
    .content {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 30px;
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            color:$aboutHeadColor;
            margin-bottom: 20px;
        }
        article {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            text-align: center;
            color: $aboutContentColor;
        }
    }
}






/*------------------------footer------------------------*/
@mixin sprite($n) {
    width: 34px;
    height: 22px;
    margin: 0px 5px;
    background-position: -5-$n*44px -5px;
}

.pay .wrapper.container {
    justify-content: center;
    align-items: center;
}

footer {
    background-color: $footColor;
    .pay {
        background-color: $payBackgroundColor;
        color: $payColor;
        padding: 16px 0px;
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            margin-right: 5px;
        }
        i.sprite {
            background-image: url(../img/pay2.png);
            background-repeat: no-repeat;
            display: block;
        }
        i.one {
            @include sprite(0);
        }
        i.two {
            @include sprite(1);
        }
        i.three {
            @include sprite(2);
        }
        i.four {
            @include sprite(3);
        }
        i.five {
            @include sprite(4);
        }
        i.six {
            @include sprite(5);
        }
        i.seven {
            @include sprite(6);
        }
        i.eight {
            @include sprite(7);
        }
        i.nine {
            @include sprite(8);
        }
        i.ten {
            @include sprite(9);
        }
        i.eleven {
            @include sprite(10);
        }
    }
    .footContent {
        background-color: $footContectColor;
        .content {
            align-items: center;
            .item {
                margin: 35px 0;
                font-family: Arial, Helvetica, sans-serif;
                header {
                    h3 {
                        font-size: 16pt;
                        font-weight: bold;
                        color: $footArticleColor;
                    }
                }
                section {
                    font-size: 12pt;
                    a {
                        color: $footArticleColor;
                        &:hover {
                            color: $footActiveColor;
                        }
                    }
                }
                .socials.container {
                    flex-wrap: wrap;
                    width: 140px;
                    .social {
                        width: 35px;
                        height: 35px;
                        margin: 5px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $socialColor;
                        position: relative;
                        a {
                            display: block;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            i {
                                color: white;
                                position: relative;
                                top: 7px;
                                font-size: 20px;
                            }
                            &:hover i {
                                color: $activeColor;
                            }
                        }
                    }
                }
            }
        }
        section.container {
            flex-grow: 5;
        }
    }
    .footMenu {
        padding: 16px 0px;
        nav {
            justify-content: space-around;
            flex-wrap: wrap;
            .lowMenu {
                position: relative;
                a {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    i {
                        color: white;
                        font-size: 30px;
                        line-height: 2;
                    }
                    &:hover i {
                        color: mediumblue;
                    }
                }
            }
            .link {
                color: $fontColor;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11pt;
                line-height: 2;
                a {
                    color: $fontColor;
                    &:hover {
                        color: $footActiveColor;
                    }
                }
            }
            .link:not(:last-child)::after {
                content:'|';
                margin: 0px 5px;
            }
        }
        .copyright {
            flex-shrink: 0;
            p {
                color: $fontColor;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}

/*footer down*/
body {
    flex-direction: column;
    min-height: 100vh;
}


/*------------------------responsive------------------------*/
@media (max-width: 640px) {
    @import "small";
}
@media (min-width: 641px) and (max-width: 768px) {
    @import "medium";
}
@media (min-width: 769px) {
    @import "original";
}