* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  text-decoration: none;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: relative;
}

body > header {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 255);
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 50px;
}


main {
  min-height: 100%;
  padding-bottom: 50px;
  height: 100%;
}

/*debag*/
.game * {
    border: 1px solid red;
}

.cards {
  text-align: center;
  border-radius: 25px;
  font-size: 0; /*remove inline-block space*/
}
.desk {
  min-height: 400px;
  background-image: radial-gradient(white 0%, gray 25%, black 100%);

}
.shirts {
  max-height: 410px;
  overflow: auto;
  background-image: radial-gradient(white 0%, gray 25%, black 100%);
}

.card {
  border-radius: 25px;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  perspective: 20px;

}

.card, .face, .back {
  width: 200px;
  height: 400px;

  background-size: cover;
  background-repeat: no-repeat;
}


.cardContainer {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  margin: 0;
}
.face, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card.rotate .cardContainer {
  transform: rotateY(180deg);
}


.face {
  transform: rotateY(180deg);
}
.back {
  background-image: url(../img/shirts/1shirt.png);
  z-index: 2;
}

.rotate {
  transform: rotateY(180deg);
}





.hide {
  -webkit-animation: 1s linear 0s slowhide;
  animation: 1s linear 0s slowhide;
  animation-fill-mode: forwards;
}
@keyframes slowhide {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/*difficulty*/
.difficulty {
  background-image: radial-gradient(white 0%, gray 25%, black 100%);
}
form {
  font-size: 18pt;
  width: 80%;
  text-align: center;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}


/*win*/
.desk h1 {
  color: firebrick;
  font-size: 25pt;
  text-transform: uppercase;
}
.desk h2 {
  color: firebrick;
  font-size: 18pt;
}

footer {
  width: 100%;
  font-size: 33px;
  background-color: rgb(0, 0, 255);
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  bottom: 0px;
}
