* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  text-decoration: none;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: relative;
}

body > header {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 255);
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 50px;
}


main {
  min-height: 100%;
  padding-bottom: 50px;
  height: 100%;
}

/*debag*/
.game * {
    border: 1px solid red;
}

.cards {
  text-align: center;
  border-radius: 25px;
  font-size: 0; /*remove inline-block space*/
}
.desk {
  min-height: 400px;
  background-image: radial-gradient(white 0%, gray 25%, black 100%);

}
.shirts {
  max-height: 410px;
  overflow: auto;
  background-image: radial-gradient(white 0%, gray 25%, black 100%);
}

.card {
  border-radius: 25px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 400px;
  margin: 5px;
  background-size: cover;
  background-image: url(../img/shirts/1shirt.png);
  background-repeat: no-repeat;
}

.hide {
  visibility: hidden;
}
.rotate {/*
  -webkit-animation: 5s linear 0s rotate;
  animation: 5s linear 0s rotate;*/
}
.unrotate {
  background-image: url(../img/shirts/1shirt.png) !important;
}



@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    background-image: url(../img/shirts/1shirt.png) !important;
  }
  50% {
    background-image: url(../img/shirts/1shirt.png) !important;
    transform: rotateY(90deg);

    background-image: url(../img/shirts/1shirt.png);
    transform: rotateY(-90deg);}
  100% {
    transform: rotateY(0deg); } }










footer {
  width: 100%;
  font-size: 33px;
  background-color: rgb(0, 0, 255);
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  bottom: 0px;
}
