* {
    box-sizing: border-box;
};
.wrapper {
    margin: 0px auto;
    text-align: center;
    user-select: none;
};


body {
    background-color: black;
    color: red;
};


.application {
    p {
        font-family: 'Courier New';
        text-align: left;
        margin: 0 auto;
    };

    .controls {
        display: flex;
        justify-content: flex-end;
        width: 1200px;
        margin: 0px auto;
        text-align: right;

        button {
            margin: 5px;
        };

        .info {
            margin: 5px;
        };
    };
    .weapons {
        display: flex;
        justify-content: flex-end;
        width: 1200px;
        margin: 0px auto;
        .weapon {
            margin: 5px;
            padding: 5px;
            width: 100px;
            border-radius: 5%;
            border: 2px solid rgba(0, 0, 255, 1); //0 - transparent
            &.activeWeapon {
                border-color: rgba(255, 255, 0, 1);
            };
            &.disabled {
                border-color: rgba(255, 0, 0, 1);
            };
        };
    };
};
