.wrapper {
    margin: 0px auto;
    text-align: center;
    user-select: none;
}


body {
    background-color: black;
    color: red;
}

.weapons {
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: flex-end;
    .weapon {
        float: right;
        border-radius: 5%;
        border: 2px solid rgba(0, 0, 255, 1); //0 - transparent
    }
    .active {
        border-color: rgba(255, 255, 0, 1);
    }
    .disabled {
        border-color: rgba(255, 0, 0, 1);
    }
}
